html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #444b52;
    font-family: Arial;
}


/*Modal*/

.modal {
    visibility: hidden;
    opacity: 0;
    transition: all 0.25s;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.66);
}

.modal.modal-show {
    visibility: visible;
    opacity: 1;
}

.modal-dialog {
    background: #eceded;
    left: 50%;
    overflow: hidden;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    z-index: 10000;
}

.modal-header {
    display: block;
    padding: 2em;
    position: relative;
}

.modal-header .modal-title {
    padding-right: 30px;
}

.modal-close {
    color: #aaa;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 2em;
}

.modal-close:hover {
    color: #444b52;
}

.modal-inner {
    background: #fff;
    max-height: 75vh;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    padding: 2em;
    position: relative;
}

.modal-info {
    cursor: pointer;
    font-family: "TerumoBCTRegular";
    font-size: 1.25em;
}

.well {
    padding: 1em;
}


/*header*/

.heading {
    border-bottom: 2px solid #dadbdc;
}

.header {
    width: 100%;
}

.header td {
    vertical-align: middle;
    padding: 1rem 0;
}

.header td.settings {
    text-align: center;
    font-size: 2em;
}

.header td.settings i {
    cursor: pointer;
    color: #b4b7ba;
    transition: all 0.25s;
}

.header td.settings i:hover {
    color: #444b52;
    transform: rotate(180deg)
}


/*alarm list side*/

.alarm-list-side {
    border-right: 2px solid #dadbdc;
    float: left;
    height: 100%;
    width: 33%;
    background: #fff;
    transition: all 0.25s;
    z-index: 1;
}

alarm-list {
    border-top: 1px solid #dadbdc;
    display: block;
    overflow-y: auto;
}

.device-select {
    position: relative;
}

dd-menu {
    padding: 1em;
    display: block;
}

.dd-table {
    width: 100%;
    background: #696f75;
    color: #fff;
    font-family: "TerumoBCTThin";
    cursor: pointer;
}

.dd-table td {
    padding: 1em;
    font-size: 1.25em;
}

.each-alarm,
.each-dd {
    cursor: pointer;
    font-family: "TerumoBCTThin";
    font-size: 1.125em;
    overflow-wrap: break-word;
    padding: 1em;
}

.each-alarm img {
    height: 16px;
}

.each-dd:hover,
.each-alarm:hover,
.each-alarm.selected {
    background: #eceded;
}

.each-dd i {
    pointer-events: none;
}

dropdown {
    background: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #b4b7ba;
    display: block;
    overflow: hidden;
    position: absolute;
    transition: all 0.25s;
    width: 100%;
    z-index: 1;
}

dropdown.hide {
    max-height: 0 !important;
    border-width: 0;
}

.dd-icon {
    text-align: right;
}

.dd-icon i {
    transition: all 0.25s;
}

.dd-icon i.rotate {
    transform: rotate(180deg);
}


/*alarm info side*/

.alarm-info-side {
    float: left;
    height: 100%;
    width: 67%;
    overflow-y: auto;
    padding: 1em;
}

.open-close {
    background: #dadbdc;
    display: none;
    height: 50px;
    left: 100%;
    position: absolute;
    text-align: center;
    top: 0;
    width: 50px;
    cursor: pointer;
}

.open-close i {
    display: table-cell;
    vertical-align: middle;
    transition: all 0.5s ease 0.33s;
}

.share-icon {
    margin-left: 1em;
    vertical-align: middle;
    color: #b4b7ba;
    transition: all 0.25s;
    cursor: pointer;
}

.share-icon:hover {
    color: #444b52;
}

@media (max-width: 768px) {
    .alarm-list-side {
        position: absolute;
        width: calc(100% - 50px);
        float: none;
    }
    .alarm-list-side.collapse {
        transform: translateX(-100%);
    }
    .alarm-list-side.collapse .open-close i {
        transform: rotateY(180deg)
    }
    .open-close {
        display: table;
    }
    .alarm-info-side {
        float: none;
        width: 100%;
        padding-top: 4em;
    }
    .app-title {
        font-size: 1.5rem;
        line-height: normal;
    }
    dd-menu {
        font-size: 0.66rem;
    }
}

.scale_inline {
    height: 2rem;
    vertical-align: text-bottom;
}