<!DOCTYPE html>
<html ng-app="AlarmLookupTool">

<head>
    <title>Alarm Lookup Tool</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <link rel="stylesheet" href="lib/css/skeleton.css">
    <link rel="stylesheet" href="css/app.css">
</head>

<body ng-controller="AlarmCtrl as alarm">
    <div class="heading">
        <div class="container">
            <table class="header">
                <tr>
                    <td>
                        <h1 class="no-margin app-title">Alarm Lookup Tool</h1>
                    </td>
                    <td class="settings">
                        <i ng-click="alarm.userPrefShow=!alarm.userPrefShow" class="fa fa-cog"></i>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="content" content>
        <modal show="alarm.userPrefShow" update-fn="alarm.updateDeviceList(device)"></modal>
        <div class="alarm-list-side" ng-class="{'collapse':alarm.collapse}">
            <dd-menu>
                <div class="device-select space-under" device-dropdown>
                    <table class="dd-table" ng-click="openDropdown()">
                        <tr>
                            <td>{{alarm.selectedDevices[alarm.selectedIndex].product.shortName | capitalize}} <i class="fa fa-chevron-right"></i> {{alarm.selectedDevices[alarm.selectedIndex].version.fullName}} <i class="fa fa-chevron-right"></i> {{alarm.selectedDevices[alarm.selectedIndex].language.langName}}</td>
                            <td class="dd-icon"><i class="fa fa-chevron-down" ng-class="{'rotate':ddIsOpen}"></i></td>
                        </tr>
                    </table>
                    <dropdown ng-class="{'hide':!ddIsOpen}">
                        <div class="dropdown-inner">
                            <div class="each-dd" ng-click="alarm.setNewDevice(s,$index)" ng-repeat="s in alarm.selectedDevices"><i ng-if="$index===alarm.selectedIndex" class="fa fa-check green"></i> {{::s.product.fullName}} &gt; {{::s.version.fullName}} &gt; {{::s.language.langName}}</div>
                        </div>
                    </dropdown>
                </div>
                <div class="space-under">
                    <input class="full-width" type="text" ng-model="alarm.alarmObj.search" placeholder="Search for an alarm..." ng-change="alarm.filterData(alarm.alarmObj.search)">
                </div>
                <div ng-if="alarm.searchFilters[alarm.selectedDevices[alarm.selectedIndex].product.shortName]" class="space-under">
                    <p class="thin" ng-repeat="c in alarm.searchFilters[alarm.selectedDevices[alarm.selectedIndex].product.shortName].alarms">
                        <input id="cb{{::c.name+$index}}" class="checkbox" type="checkbox" ng-model="c.checked" ng-change="alarm.filterData(alarm.alarmObj.search)">
                        <label for="cb{{::c.name+$index}}" class="checkbox-label">Show {{c.name}} alarms</label>
                    </p>
                </div>
                <div class="thin">
                    <ng-pluralize count="filtered.length" when="{'one': 'Showing 1','other': 'Showing {}'}"></ng-pluralize>
                    <span>/{{alarm.masterAlarmList.length}} results</span>
                </div>
            </dd-menu>
            <alarm-list>
                <div class="each-alarm" ng-repeat="a in alarm.filteredAlarmList|limitTo:alarm.showAmountObj.shown as filtered" ng-click="alarm.setAlarm(a)" ng-class="{'selected':a===alarm.alarmObj.alarm}">
                    <span ng-if="::a.number">{{::a.number}}</span>
                    <img ng-if="::a.image" ng-src="{{::a.image}}">
                    <span ng-if="::a.name == ' '">{{::a.enumerator | capitalize}}</span>
                    <span ng-if="::a.name !== ' '">{{::a.name | capitalize}}</span>
                    <br>
                    <span ng-if="::a.enumerator"> ({{::a.enumerator | capitalize}})</span>
                    <span ng-if="::a.log"> ({{::a.log | capitalize}})</span>
                </div>
                <div class="text-center well" ng-if="alarm.showAmountObj.shown<=alarm.filteredAlarmList.length">
                    <hr>
                    <button class="btn btn-primary" ng-click="alarm.showMore()">Show More</button>
                </div>
            </alarm-list>
            <div class="open-close" ng-click="alarm.collapse=!alarm.collapse">
                <i class="fa fa-chevron-left"></i>
            </div>
        </div>
        <div class="alarm-info-side">
            <h3><span ng-if="alarm.alarmObj.alarm.number">{{alarm.alarmObj.alarm.number}}</span> {{alarm.alarmObj.alarm.name}} <i class="fa fa-share-alt-square share-icon" ng-if="alarm.alarmObj.alarm && !alarm.currentUrl" ng-click="alarm.getCustomUrl()"></i></h3>
            <div class="segment" ng-if="alarm.alarmObj.alarm && alarm.currentUrl">
                <div class="thin">Ctrl + C to copy:</div>
                <input id="current-url" class="full-width" type="text" ng-model="alarm.currentUrl">
            </div>
            <div ng-if="alarm.selectedDevices[alarm.selectedIndex].product.shortName !== 'quantum' && alarm.selectedDevices[alarm.selectedIndex].product.shortName !== 'trima' && alarm.selectedDevices[alarm.selectedIndex].product.shortName !== 'reveos'">
                <ol>
                    <div ng-repeat="x in alarm.alarmObj.alarm.explanation">
                        <div ng-if="x.para">{{x.para}}</div>
                        <li ng-if="x.step">{{x.step}}</li>
                        <ul ng-if="x.ulSublist">
                            <div ng-repeat="y in x.ulSublist">
                                <li ng-if="y.step">{{y.step}}</li>
                            </div>
                        </ul>
                    </div>
                </ol>
            </div>
            <div ng-if="alarm.selectedDevices[alarm.selectedIndex].product.shortName=='trima'">
                <p ng-bind-html="alarm.alarmObj.alarm.explanation | nl2br"></p>
            </div>
            <div ng-if="alarm.selectedDevices[alarm.selectedIndex].product.shortName=='reveos'">
                <p ng-bind-html="alarm.alarmObj.alarm.explanation | nl2br"></p>
            </div>

            <dl ng-if="alarm.selectedDevices[alarm.selectedIndex].product.shortName !== 'trima' && alarm.selectedDevices[alarm.selectedIndex].product.shortName !== 'quantum' && alarm.selectedDevices[alarm.selectedIndex].product.shortName !== 'mirasol'">
                <dt ng-if="alarm.alarmObj.alarm.cause0">{{alarm.alarmObj.alarm.cause0}}<br></dt>
                <dd ng-if="alarm.alarmObj.alarm.action0">
                    <ol>
                        <div ng-repeat="x in alarm.alarmObj.alarm.action0">
                            <div ng-if="x.para" class="para">{{x.para}}</div>
                            <li ng-if="x.step">{{x.step}}</li>
                            <ol ng-if="x.olSublist">
                                <div ng-repeat="y in x.olSublist">
                                    <li ng-if="y.step" type="A">{{y.step}}</li>
                                    <ul ng-if="y.ulSublist2">
                                        <li ng-repeat="a in y.ulSublist2">{{a.step}}</li>
                                    </ul>
                                </div>
                            </ol>
                            <ul ng-if="x.ulSublist">
                                <div ng-repeat="z in x.ulSublist">
                                    <li ng-if="z.step">{{z.step}}</li>
                                    <ol ng-if="z.olSublist2">
                                        <li ng-repeat="a in z.olSublist2">{{a.step}}</li>
                                    </ol>
                                    <ul ng-if="z.ulSublist2">
                                        <li ng-repeat="a in z.ulSublist2">{{a.step}}</li>
                                    </ul>
                                </div>
                            </ul>
                        </div>
                    </ol>
                </dd>
                <dt ng-if="alarm.alarmObj.alarm.cause1">{{alarm.alarmObj.alarm.cause1}}<br></dt>
                <dd ng-if="alarm.alarmObj.alarm.action1">
                    <ol>
                        <div ng-repeat="x in alarm.alarmObj.alarm.action1">
                            <div ng-if="x.para" class="para">{{x.para}}</div>
                            <li ng-if="x.step">{{x.step}}</li>
                            <ol ng-if="x.olSublist">
                                <div ng-repeat="y in x.olSublist">
                                    <li ng-if="y.step" type="A">{{y.step}}</li>
                                    <ul ng-if="y.ulSublist2">
                                        <li ng-repeat="a in y.ulSublist2">{{a.step}}</li>
                                    </ul>
                                </div>
                            </ol>
                            <ul ng-if="x.ulSublist">
                                <div ng-repeat="z in x.ulSublist">
                                    <li ng-if="z.step">{{z.step}}</li>
                                    <ol ng-if="z.olSublist2">
                                        <li ng-repeat="a in z.olSublist2">{{a.step}}</li>
                                    </ol>
                                    <ul ng-if="z.ulSublist2">
                                        <li ng-repeat="a in z.ulSublist2">{{a.step}}</li>
                                    </ul>
                                </div>
                            </ul>
                        </div>
                    </ol>
                </dd>
                <dt ng-if="alarm.alarmObj.alarm.cause2">{{alarm.alarmObj.alarm.cause2}}<br></dt>
                <dd ng-if="alarm.alarmObj.alarm.action2">
                    <ol>
                        <div ng-repeat="x in alarm.alarmObj.alarm.action2">
                            <div ng-if="x.para" class="para">{{x.para}}</div>
                            <li ng-if="x.step">{{x.step}}</li>
                            <ol ng-if="x.olSublist">
                                <div ng-repeat="y in x.olSublist">
                                    <li ng-if="y.step" type="A">{{y.step}}</li>
                                    <ul ng-if="y.ulSublist2">
                                        <li ng-repeat="a in y.ulSublist2">{{a.step}}</li>
                                    </ul>
                                </div>
                            </ol>
                            <ul ng-if="x.ulSublist">
                                <div ng-repeat="z in x.ulSublist">
                                    <li ng-if="z.step">{{z.step}}</li>
                                    <ol ng-if="z.olSublist2">
                                        <li ng-repeat="a in z.olSublist2">{{a.step}}</li>
                                    </ol>
                                    <ul ng-if="z.ulSublist2">
                                        <li ng-repeat="a in z.ulSublist2">{{a.step}}</li>
                                    </ul>
                                </div>
                            </ul>
                        </div>
                    </ol>
                </dd>
                <dt ng-if="alarm.alarmObj.alarm.cause3">{{alarm.alarmObj.alarm.cause3}}<br></dt>
                <dd ng-if="alarm.alarmObj.alarm.action3">
                    <ol>
                        <div ng-repeat="x in alarm.alarmObj.alarm.action3">
                            <div ng-if="x.para" class="para">{{x.para}}</div>
                            <li ng-if="x.step">{{x.step}}</li>
                            <ol ng-if="x.olSublist">
                                <div ng-repeat="y in x.olSublist">
                                    <li ng-if="y.step" type="A">{{y.step}}</li>
                                    <ul ng-if="y.ulSublist2">
                                        <li ng-repeat="a in y.ulSublist2">{{a.step}}</li>
                                    </ul>
                                </div>
                            </ol>
                            <ul ng-if="x.ulSublist">
                                <div ng-repeat="z in x.ulSublist">
                                    <li ng-if="z.step">{{z.step}}</li>
                                    <ol ng-if="z.olSublist2">
                                        <li ng-repeat="a in z.olSublist2">{{a.step}}</li>
                                    </ol>
                                    <ul ng-if="z.ulSublist2">
                                        <li ng-repeat="a in z.ulSublist2">{{a.step}}</li>
                                    </ul>
                                </div>
                            </ul>
                        </div>
                    </ol>
                </dd>
                <dt ng-if="alarm.alarmObj.alarm.cause4">{{alarm.alarmObj.alarm.cause4}}<br></dt>
                <dd ng-if="alarm.alarmObj.alarm.action4">
                    <ol>
                        <div ng-repeat="x in alarm.alarmObj.alarm.action4">
                            <div ng-if="x.para" class="para">{{x.para}}</div>
                            <li ng-if="x.step">{{x.step}}</li>
                            <ol ng-if="x.olSublist">
                                <div ng-repeat="y in x.olSublist">
                                    <li ng-if="y.step" type="A">{{y.step}}</li>
                                    <ul ng-if="y.ulSublist2">
                                        <li ng-repeat="a in y.ulSublist2">{{a.step}}</li>
                                    </ul>
                                </div>
                            </ol>
                            <ul ng-if="x.ulSublist">
                                <div ng-repeat="z in x.ulSublist">
                                    <li ng-if="z.step">{{z.step}}</li>
                                    <ol ng-if="z.olSublist2">
                                        <li ng-repeat="a in z.olSublist2">{{a.step}}</li>
                                    </ol>
                                    <ul ng-if="z.ulSublist2">
                                        <li ng-repeat="a in z.ulSublist2">{{a.step}}</li>
                                    </ul>
                                </div>
                            </ul>
                        </div>
                    </ol>
                </dd>
                <dt ng-if="alarm.alarmObj.alarm.cause5">{{alarm.alarmObj.alarm.cause5}}<br></dt>
                <dd ng-if="alarm.alarmObj.alarm.action5">
                    <ol>
                        <div ng-repeat="x in alarm.alarmObj.alarm.action5">
                            <div ng-if="x.para" class="para">{{x.para}}</div>
                            <li ng-if="x.step">{{x.step}}</li>
                            <ol ng-if="x.olSublist">
                                <div ng-repeat="y in x.olSublist">
                                    <li ng-if="y.step" type="A">{{y.step}}</li>
                                    <ul ng-if="y.ulSublist2">
                                        <li ng-repeat="a in y.ulSublist2">{{a.step}}</li>
                                    </ul>
                                </div>
                            </ol>
                            <ul ng-if="x.ulSublist">
                                <div ng-repeat="z in x.ulSublist">
                                    <li ng-if="z.step">{{z.step}}</li>
                                    <ol ng-if="z.olSublist2">
                                        <li ng-repeat="a in z.olSublist2">{{a.step}}</li>
                                    </ol>
                                    <ul ng-if="z.ulSublist2">
                                        <li ng-repeat="a in z.ulSublist2">{{a.step}}</li>
                                    </ul>
                                </div>
                            </ul>
                        </div>
                    </ol>
                </dd>
                <dt ng-if="alarm.alarmObj.alarm.cause6">{{alarm.alarmObj.alarm.cause6}}<br></dt>
                <dd ng-if="alarm.alarmObj.alarm.action6">
                    <ol>
                        <div ng-repeat="x in alarm.alarmObj.alarm.action6">
                            <div ng-if="x.para" class="para">{{x.para}}</div>
                            <li ng-if="x.step">{{x.step}}</li>
                            <ol ng-if="x.olSublist">
                                <div ng-repeat="y in x.olSublist">
                                    <li ng-if="y.step">{{y.step}}</li>
                                    <ul ng-if="y.ulSublist2">
                                        <li ng-repeat="a in y.ulSublist2">{{a.step}}</li>
                                    </ul>
                                </div>
                            </ol>
                            <ul ng-if="x.ulSublist">
                                <div ng-repeat="z in x.ulSublist">
                                    <li ng-if="z.step" type="A">{{z.step}}</li>
                                    <ol ng-if="z.olSublist2">
                                        <li ng-repeat="a in z.olSublist2">{{a.step}}</li>
                                    </ol>
                                    <ul ng-if="z.ulSublist2">
                                        <li ng-repeat="a in z.ulSublist2">{{a.step}}</li>
                                    </ul>
                                </div>
                            </ul>
                        </div>
                    </ol>
                </dd>
            </dl>
            <dl ng-if="alarm.selectedDevices[alarm.selectedIndex].product.shortName=='trima'">
                <dt ng-if="alarm.alarmObj.alarm.moreinfo0">{{alarm.alarmStrings.more_info1}}</dt>
                <dd ng-if="alarm.alarmObj.alarm.moreinfo0">
                    <div ng-bind-html="alarm.alarmObj.alarm.moreinfo0 | nl2br"></div>
                </dd>
                <dt ng-if="alarm.alarmObj.alarm.moreinfo1">{{alarm.alarmStrings.more_info2}}</dt>
                <dd ng-if="alarm.alarmObj.alarm.moreinfo1">
                    <div ng-bind-html="alarm.alarmObj.alarm.moreinfo1 | nl2br"></div>
                </dd>
                <dt ng-if="alarm.alarmObj.alarm.moreinfo2">{{alarm.alarmStrings.more_info3}}</dt>
                <dd ng-if="alarm.alarmObj.alarm.moreinfo2">
                    <div ng-bind-html="alarm.alarmObj.alarm.moreinfo2 | nl2br"></div>
                </dd>
                <dt ng-if="alarm.alarmObj.alarm.moreinfo3">{{alarm.alarmStrings.more_info4}}</dt>
                <dd ng-if="alarm.alarmObj.alarm.moreinfo3">
                    <div ng-bind-html="alarm.alarmObj.alarm.moreinfo3 | nl2br"></div>
                </dd>
                <dt ng-if="alarm.alarmObj.alarm.moreinfo4">{{alarm.alarmStrings.more_info5}}</dt>
                <dd ng-if="alarm.alarmObj.alarm.moreinfo4">
                    <div ng-bind-html="alarm.alarmObj.alarm.moreinfo4 | nl2br"></div>
                </dd>
            </dl>

            <dl ng-if="alarm.selectedDevices[alarm.selectedIndex].product.shortName=='quantum'">
                <dt ng-if="alarm.alarmObj.alarm.explanation">{{alarm.alarmStrings.description}}</dt>
                <dd ng-if="alarm.alarmObj.alarm.explanation">
                    <div>{{alarm.alarmObj.alarm.explanation}}</div>
                </dd>
                <br/>
                <dt ng-if="alarm.alarmObj.alarm.system_response0">{{alarm.alarmStrings.response}}</dt>
                <dd ng-if="alarm.alarmObj.alarm.system_response0">
                    <div>{{alarm.alarmObj.alarm.system_response0}} <span>({{alarm.alarmObj.alarm.system_response0type}})</span></div>
                    <div ng-if="alarm.alarmObj.alarm.system_response1">{{alarm.alarmObj.alarm.system_response1}} <span>({{alarm.alarmObj.alarm.system_response1type}})</span></div>
                    <div ng-if="alarm.alarmObj.alarm.system_response2">{{alarm.alarmObj.alarm.system_response2}} <span>({{alarm.alarmObj.alarm.system_response2type}})</span></div>
                    <div ng-if="alarm.alarmObj.alarm.system_response3">{{alarm.alarmObj.alarm.system_response3}} <span>({{alarm.alarmObj.alarm.system_response3type}})</span></div>
                </dd>
                <br/>
                <dt ng-if="alarm.alarmObj.alarm.cause0">{{alarm.alarmStrings.causeaction}}</dt>
                <dd ng-if="alarm.alarmObj.alarm.cause0">
                    <div>Possible Cause 1: {{alarm.alarmObj.alarm.cause0}}</div>
                    <div>Operator Action 1: {{alarm.alarmObj.alarm.action0}}</div>
                </dd>
                <br/>
                <dd ng-if="alarm.alarmObj.alarm.cause1">
                    <div>Possible Cause 2: {{alarm.alarmObj.alarm.cause1}}</div>
                    <div>Operator Action 2: {{alarm.alarmObj.alarm.action1}}</div>
                </dd>
                <br/>
                <dd ng-if="alarm.alarmObj.alarm.cause2">
                    <div>Possible Cause 3: {{alarm.alarmObj.alarm.cause2}}</div>
                    <div>Operator Action 3: {{alarm.alarmObj.alarm.action2}}</div>
                </dd>
            </dl>

            <dl ng-if="alarm.selectedDevices[alarm.selectedIndex].product.shortName=='mirasol'">
                <dt ng-if="alarm.alarmObj.alarm.number">{{alarm.alarmStrings.message_number}}</dt>
                <dd ng-if="alarm.alarmObj.alarm.number">{{alarm.alarmObj.alarm.number}} <img ng-src="{{alarm.alarmObj.alarm.image}}" class="scale_inline"></dd>
                <br/>
                <dt ng-if="alarm.alarmObj.alarm.occurs">{{alarm.alarmStrings.occurs}}</dt>
                <dd ng-if="alarm.alarmObj.alarm.occurs">{{alarm.alarmObj.alarm.occurs}}</dd>
                <br/>
                <dt ng-if="alarm.alarmObj.alarm.name">{{alarm.alarmStrings.cause}}</dt>
                <dd ng-if="alarm.alarmObj.alarm.name">{{alarm.alarmObj.alarm.name}}
                    <br/>{{alarm.alarmObj.alarm.causeDetail}}
                </dd>
                <br/>
                <dt ng-if="alarm.alarmObj.alarm.action0">{{alarm.alarmStrings.action}}</dt>
                <dd ng-if="alarm.alarmObj.alarm.action0">
                    <p ng-if="alarm.alarmObj.alarm.action0">
                        <span ng-repeat="y in alarm.alarmObj.alarm.action0">
						              <span ng-if="y.seg">{{y.seg}}</span>
                        <span ng-if="y.uicontrol"><strong>{{y.uicontrol}}</strong></span>
                        <span ng-if="y.image"><img ng-src="{{y.image}}" class="scale_inline"/></span>
                        </span>
                    </p>
                    <p ng-if="alarm.alarmObj.alarm.action1">
                        <span ng-repeat="y in alarm.alarmObj.alarm.action1">
						              <span ng-if="y.seg">{{y.seg}}</span>
                        <span ng-if="y.uicontrol"><strong>{{y.uicontrol}}</strong></span>
                        <span ng-if="y.image"><img ng-src="{{y.image}}" class="scale_inline"/></span>
                        </span>
                    </p>
                    <p ng-if="alarm.alarmObj.alarm.action2">
                        <span ng-repeat="y in alarm.alarmObj.alarm.action2">
						              <span ng-if="y.seg">{{y.seg}}</span>
                        <span ng-if="y.uicontrol"><strong>{{y.uicontrol}}</strong></span>
                        <span ng-if="y.image"><img ng-src="{{y.image}}" class="scale_inline"/></span>
                        </span>
                    </p>
                    <p ng-if="alarm.alarmObj.alarm.action3">
                        <span ng-repeat="y in alarm.alarmObj.alarm.action3">
						              <span ng-if="y.seg">{{y.seg}}</span>
                        <span ng-if="y.uicontrol"><strong>{{y.uicontrol}}</strong></span>
                        <span ng-if="y.image"><img ng-src="{{y.image}}" class="scale_inline"/></span>
                        </span>
                    </p>
                    <p ng-if="alarm.alarmObj.alarm.action4">
                        <span ng-repeat="y in alarm.alarmObj.alarm.action4">
						              <span ng-if="y.seg">{{y.seg}}</span>
                        <span ng-if="y.uicontrol"><strong>{{y.uicontrol}}</strong></span>
                        <span ng-if="y.image"><img ng-src="{{y.image}}" class="scale_inline"/></span>
                        </span>
                    </p>
                    <p ng-if="alarm.alarmObj.alarm.action5">
                        <span ng-repeat="y in alarm.alarmObj.alarm.action5">
						              <span ng-if="y.seg">{{y.seg}}</span>
                        <span ng-if="y.uicontrol"><strong>{{y.uicontrol}}</strong></span>
                        <span ng-if="y.image"><img ng-src="{{y.image}}" class="scale_inline"/></span>
                        </span>
                    </p>
                </dd>
            </dl>
            <!--<pre>{{alarm.alarmObj.alarm|json}}</pre>-->

            <div ng-if="alarm.selectedDevices[alarm.selectedIndex].product.shortName=='quantum' && alarm.alarmObj.alarm.info">
                <h3 class="no-margin">Alarm Info</h3>
                <div class="well">
                    <div>
                        <!-- get static strings working here-->
                        <div class="half-segment">
                            <!--{{currentAlarm[1].identification}}-->
                            <p><b>Dlog</b></p>
                            <p>{{alarm.alarmObj.alarm.info.alarmId}}</p>
                        </div>
                        <div class="half-segment">
                            <!--{{currentAlarm[1].layer}}-->
                            <p><b>Description</b></p>
                            <p>{{alarm.alarmObj.alarm.info.description}}</p>
                        </div>
                        <div class="half-segment">
                            <!--{{currentAlarm[1].layer}}-->
                            <p><b>Priority</b></p>
                            <p>{{alarm.alarmObj.alarm.info.priority}}</p>
                        </div>
                        <div class="half-segment">
                            <!--{{currentAlarm[1].layer}}-->
                            <p><b>Action</b></p>
                            <p>{{alarm.alarmObj.alarm.info.action}}</p>
                        </div>
                        <div class="half-segment">
                            <!--{{currentAlarm[1].layer}}-->
                            <p><b>Response</b></p>
                            <p>{{alarm.alarmObj.alarm.info.response}}</p>
                        </div>
                        <div class="half-segment">
                            <!--{{currentAlarm[1].layer}}-->
                            <p><b>Self Clear</b></p>
                            <p>{{alarm.alarmObj.alarm.info.selfclear}}</p>
                        </div>
                        <div class="half-segment">
                            <!--{{currentAlarm[1].layer}}-->
                            <p><b>Sound</b></p>
                            <p>{{alarm.alarmObj.alarm.info.sound}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-if="alarm.alarmObj.alarm.troubleshooting && alarm.selectedDevices[alarm.selectedIndex].product.shortName!=='mirasol'">
                <h3 class="no-margin">Alarm Info</h3>
                <div class="well">
                    <table style="border-collapse: separate; border-spacing: 0 1em;" class="table table-condensed" ng-if="alarm.selectedDevices[alarm.selectedIndex].product.shortName=='optia'">
                        <tr ng-if="alarm.alarmObj.alarm.occursList.start_up">
                            <th>start up</th>
                            <!--figure out how to get static strings to work here. {{currentAlarm[1].start}} -->
                            <td><i class="fa fa-check"></i></td>
                        </tr>
                        <tr ng-if="alarm.alarmObj.alarm.occursList.not_connected">
                            <th style="background:#419d9d; color: #fff; padding: .5em;">not connected</th>
                            <!--figure out how to get static strings to work here. {{currentAlarm[1].not_conn}} -->
                            <td><i style="margin-left:10px;" class="fa fa-check"></i></td>
                        </tr>
                        <tr ng-if="alarm.alarmObj.alarm.occursList.connected">
                            <th style="background:#42529a; color: #fff; padding: .5em;">connected</th>
                            <!-- figure out how to get static strings to work here. {{currentAlarm[1].conn}} -->
                            <td><i style="margin-left:10px;" class="fa fa-check"></i></td>
                        </tr>
                        <tr ng-if="alarm.alarmObj.alarm.occursList.disconnected">
                            <th style="background:#A55486; color: #fff; padding: .5em;">disconnected</th>
                            <!--figure out how to get static strings to work here. {{currentAlarm[1].disconn}} -->
                            <td><i style="margin-left:10px;" class="fa fa-check"></i></td>
                        </tr>
                    </table>
                    <div ng-if="alarm.selectedDevices[alarm.selectedIndex].product.shortName=='optia'">
                        <!-- get static strings working here-->
                        <div class="half-segment">
                            <!--{{currentAlarm[1].identification}}-->
                            <p><b>Alarm ID</b></p>
                            <p>{{alarm.alarmObj.alarm.enumerator}}</p>
                        </div>
                        <div class="half-segment">
                            <!--{{currentAlarm[1].layer}}-->
                            <p><b>Layer</b></p>
                            <p>{{alarm.alarmObj.alarm.layer}}</p>
                        </div>
                        <div class="half-segment">
                            <!--{{currentAlarm[1].system}}-->
                            <p><b>System</b></p>
                            <p>{{alarm.alarmObj.alarm.system}}</p>
                        </div>
                        <div class="half-segment">
                            <!--{{currentAlarm[1].protocol}}-->
                            <p><b>Protocol</b></p>
                            <p>{{alarm.alarmObj.alarm.protocol}}</p>
                        </div>
                    </div>
                    <div ng-if="alarm.selectedDevices[alarm.selectedIndex].product.shortName=='trima'">
                        <!-- get static strings working here-->
                        <div class="half-segment">
                            <!--{{currentAlarm[1].identification}}-->
                            <p><b>Dlog</b></p>
                            <p>{{alarm.alarmObj.alarm.dlog}}</p>
                        </div>
                        <div class="half-segment">
                            <!--{{currentAlarm[1].layer}}-->
                            <p><b>Type</b></p>
                            <p>{{alarm.alarmObj.alarm.type}}</p>
                        </div>
                        <div class="half-segment">
                            <!--{{currentAlarm[1].system}}-->
                            <p><b>Occurs</b></p>
                            <p ng-repeat="x in alarm.alarmObj.alarm.occurs">{{x.item}}</p>
                        </div>
                    </div>
                    <div ng-if="alarm.selectedDevices[alarm.selectedIndex].product.shortName=='reveos'">
                        <!-- get static strings working here-->
                        <div class="half-segment" ng-if="alarm.alarmObj.alarm.alarmId">
                            <!--{{currentAlarm[1].identification}}-->
                            <p><b>Dlog</b></p>
                            <p>{{alarm.alarmObj.alarm.alarmId}}</p>
                        </div>

                        <div class="half-segment" ng-if="alarm.alarmObj.alarm.unit">
                            <!--{{currentAlarm[1].layer}}-->
                            <p><b>Unit</b></p>
                            <p>{{alarm.alarmObj.alarm.unit}}</p>
                        </div>
                        <div class="half-segment" ng-if="alarm.alarmObj.alarm.version">
                            <!--{{currentAlarm[1].layer}}-->
                            <p><b>{{alarm.alarmStrings.version}}</b></p>
                            <p>{{alarm.alarmObj.alarm.version}}</p>
                        </div>
                        <div class="half-segment" ng-fi="alarm.alarmObj.alarm.type">
                            <!--{{currentAlarm[1].layer}}-->
                            <p><b>{{alarm.alarmStrings.message_type}}</b></p>
                            <p>{{alarm.alarmObj.alarm.type}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-if="alarm.alarmObj.alarm.troubleshooting">
                <h3 class="no-margin">Troubleshooting</h3>
                <div class="well">
                    <div class="half-segment" ng-if="alarm.alarmObj.alarm.troubleshooting.occurs">
                        <p><b>Occurs During</b></p>
                        <p>{{alarm.alarmObj.alarm.troubleshooting.occurs}}</p>
                    </div>
                    <div class="half-segment" ng-if="alarm.alarmObj.alarm.troubleshooting.detection">
                        <p><b>Detection</b></p>
                        <!-- the following ng-if isString is not working with trima -->
                        <!-- the trima troubleshooting model is different, there is no array in detection, just text (like occurs)-->
                        <p ng-if="alarm.isString(alarm.alarmObj.alarm.troubleshooting.detection)">{{alarm.alarmObj.alarm.troubleshooting.detection}}</p>
                        <!-- workaround for now... just test for trima, either figure out alarm.isString to test true for trima or change the trima troubleshooting model to match optia like this, "detection": ["text text"] -->
                        <div ng-if="!alarm.isString(alarm.alarmObj.alarm.troubleshooting.detection)">
                            <p ng-repeat="y in alarm.alarmObj.alarm.troubleshooting.detection">{{y.item || y}}</p>
                        </div>
                    </div>
                    <div class="half-segment" ng-if="alarm.alarmObj.alarm.troubleshooting.causeService">
                        <p><b>Possible Causes</b></p>
                        <ul>
                            <li ng-repeat="y in alarm.alarmObj.alarm.troubleshooting.causeService">{{y.item}}</li>
                        </ul>
                    </div>
                    <div class="half-segment" ng-if="alarm.alarmObj.alarm.troubleshooting.actionService">
                        <p><b>Suggested Actions</b></p>
                        <ul>
                            <li ng-repeat="y in alarm.alarmObj.alarm.troubleshooting.actionService">{{y.item}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<!--Angular-->
<script src="lib/js/angular-1.5.7.min.js"></script>
<script src="lib/js/angular-1.5.7-sanitize.min.js"></script>

<!--Local App-->
<script src="js/app.js"></script>

<!--Controllers-->
<script src="js/controllers.js"></script>

<!--Directives-->
<script src="js/directives.js"></script>

<!--Services-->
<script src="js/services.js"></script>

<!--Factories-->
<script src="js/factories.js"></script>

<!--Filters-->
<script src="js/filters.js"></script>

</html>