/*Font Awesome*/

@import url("../fonts/font-awesome-4.3.0/css/font-awesome.min.css");

/*Fonts*/

@font-face {
    font-family: 'TerumoBCTBold';
    src: url('../fonts/terumobct_bd-webfont.eot');
    src: url('../fonts/terumobct_bd-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/terumobct_bd-webfont.woff') format('woff'), url('../fonts/terumobct_bd-webfont.ttf') format('truetype'), url('../fonts/terumobct_bd-webfont.svg#TerumoBCTBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TerumoBCTLight';
    src: url('../fonts/terumobct_lt-webfont.eot');
    src: url('../fonts/terumobct_lt-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/terumobct_lt-webfont.woff') format('woff'), url('../fonts/terumobct_lt-webfont.ttf') format('truetype'), url('../fonts/terumobct_lt-webfont.svg#TerumoBCTLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TerumoBCTItalic';
    src: url('../fonts/terumobct_rgit-webfont.eot');
    src: url('../fonts/terumobct_rgit-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/terumobct_rgit-webfont.woff') format('woff'), url('../fonts/terumobct_rgit-webfont.ttf') format('truetype'), url('../fonts/terumobct_rgit-webfont.svg#TerumoBCTItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TerumoBCTRegular';
    src: url('../fonts/terumobct_rg-webfont.eot');
    src: url('../fonts/terumobct_rg-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/terumobct_rg-webfont.woff') format('woff'), url('../fonts/terumobct_rg-webfont.ttf') format('truetype'), url('../fonts/terumobct_rg-webfont.svg#TerumoBCTRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TerumoBCTBoldItalic';
    src: url('../fonts/terumobct_bdit-webfont.eot');
    src: url('../fonts/terumobct_bdit-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/terumobct_bdit-webfont.woff') format('woff'), url('../fonts/terumobct_bdit-webfont.ttf') format('truetype'), url('../fonts/terumobct_bdit-webfont.svg#TerumoBCTBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TerumoBCTThin';
    src: url('../fonts/terumobct_th-webfont.eot');
    src: url('../fonts/terumobct_th-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/terumobct_th-webfont.woff') format('woff'), url('../fonts/terumobct_th-webfont.ttf') format('truetype'), url('../fonts/terumobct_th-webfont.svg#TerumoBCTThin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TerumoBCTBlack';
    src: url('../fonts/terumobct_bk-webfont.eot');
    src: url('../fonts/terumobct_bk-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/terumobct_bk-webfont.woff') format('woff'), url('../fonts/terumobct_bk-webfont.ttf') format('truetype'), url('../fonts/terumobct_bk-webfont.svg#TerumoBCTBlack') format('svg');
    font-weight: normal;
    font-style: normal;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1em;
}

.column,
.columns {
    width: 100%;
    float: left;
}


/* For devices larger than 550px */

@media (min-width: 550px) {
    .column,
    .columns {
        margin-left: 4%;
    }
    .column:first-child,
    .columns:first-child {
        margin-left: 0;
    }
    .one.column,
    .one.columns {
        width: 4.66666666667%;
    }
    .two.columns {
        width: 13.3333333333%;
    }
    .three.columns {
        width: 22%;
    }
    .four.columns {
        width: 30.6666666667%;
    }
    .five.columns {
        width: 39.3333333333%;
    }
    .six.columns {
        width: 48%;
    }
    .seven.columns {
        width: 56.6666666667%;
    }
    .eight.columns {
        width: 65.3333333333%;
    }
    .nine.columns {
        width: 74.0%;
    }
    .ten.columns {
        width: 82.6666666667%;
    }
    .eleven.columns {
        width: 91.3333333333%;
    }
    .twelve.columns {
        width: 100%;
        margin-left: 0;
    }
    .one-third.column {
        width: 30.6666666667%;
    }
    .two-thirds.column {
        width: 65.3333333333%;
    }
    .one-half.column {
        width: 48%;
    }
    /* Offsets */
    .offset-by-one.column,
    .offset-by-one.columns {
        margin-left: 8.66666666667%;
    }
    .offset-by-two.column,
    .offset-by-two.columns {
        margin-left: 17.3333333333%;
    }
    .offset-by-three.column,
    .offset-by-three.columns {
        margin-left: 26%;
    }
    .offset-by-four.column,
    .offset-by-four.columns {
        margin-left: 34.6666666667%;
    }
    .offset-by-five.column,
    .offset-by-five.columns {
        margin-left: 43.3333333333%;
    }
    .offset-by-six.column,
    .offset-by-six.columns {
        margin-left: 52%;
    }
    .offset-by-seven.column,
    .offset-by-seven.columns {
        margin-left: 60.6666666667%;
    }
    .offset-by-eight.column,
    .offset-by-eight.columns {
        margin-left: 69.3333333333%;
    }
    .offset-by-nine.column,
    .offset-by-nine.columns {
        margin-left: 78.0%;
    }
    .offset-by-ten.column,
    .offset-by-ten.columns {
        margin-left: 86.6666666667%;
    }
    .offset-by-eleven.column,
    .offset-by-eleven.columns {
        margin-left: 95.3333333333%;
    }
    .offset-by-one-third.column,
    .offset-by-one-third.columns {
        margin-left: 34.6666666667%;
    }
    .offset-by-two-thirds.column,
    .offset-by-two-thirds.columns {
        margin-left: 69.3333333333%;
    }
    .offset-by-one-half.column,
    .offset-by-one-half.columns {
        margin-left: 52%;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    color: inherit;
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-size: 3.0rem;
    font-family: "TerumoBCTThin";
    line-height: 3.25rem;
    color: #444b52;
}

h2 {
    font-size: 2rem;
    font-family: "TerumoBCTRegular";
    color: #009a44;
}

h3 {
    font-size: 1.8rem;
    font-family: "TerumoBCTThin";
    line-height: 2.1rem;
}

h4 {
    font-size: 1.5rem;
    font-family: "TerumoBCTBold";
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

.no-margin {
    margin: 0;
}

.space-under {
    margin-bottom: 1rem;
}

p {
    margin-top: 0;
}

a {
    color: #1EAEDB;
}

a:hover {
    color: #0FA0CE;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 1px solid #bbb;
    cursor: pointer;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
    color: #333;
    border-color: #888;
    outline: 0;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
    color: #FFF;
    background-color: #33C3F0;
    border-color: #33C3F0;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
    color: #FFF;
    background-color: #1EAEDB;
    border-color: #1EAEDB;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
    background-color: #fff;
    border: 1px solid #dadbdc;
    box-shadow: none;
    font-family: TerumoBCTThin;
    font-size: 1em;
    padding: 1em;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

textarea {
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    border: 1px solid #76d750;
    outline: 0;
}

ul {
    list-style: square inside;
}

ol {
    list-style: decimal inside;
}

ol,
ul {
    padding-left: 0;
    margin-top: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%;
}

li {
    margin-bottom: 0.5rem;
}

.full-width {
    width: 100%;
}

.max-full-width {
    max-width: 100%;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

hr {
    margin: 1rem 0;
    border-width: 0;
    border-top: 1px solid #E1E1E1;
}

.container:after,
.row:after,
.clearfix {
    content: "";
    display: table;
    clear: both;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox,
.checkbox-label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.checkbox-label {
    position: relative;
}

.checkbox + .checkbox-label::before {
    background: #fff;
    border: 2px solid #b4b7ba;
    content: "";
    display: inline-block;
    margin-right: 10px;
    padding: 12.5px;
    vertical-align: middle;
    transition: background 0.25s;
}

.checkbox:checked + .checkbox-label:before {
    background: #009a44;
}


/*color*/

.green {
    color: #009a44;
}


/*fonts*/

.thin {
    font-family: "TerumoBCTThin";
}

.text-center {
    text-align: center;
}


/*spacing*/

.half-segment {
    margin-bottom: 2rem;
}

.segment {
    margin-bottom: 4rem;
}