<div class="modal" ng-class="{'modal-show':show}">
    <div class="modal-dialog">
        <div class="modal-header">
            <div class="modal-title">
                <h3 class="no-margin">User Preferences</h3>
            </div>
            <div class="modal-close" ng-click="show=!show"><i class="fa fa-times"></i></div>
        </div>
        <div class="modal-inner">
            <div class="well">
                <h4 class="space-under">Products</h4>
                <div ng-repeat="p in vm.productList|limitTo:vm.lengthLimit">
                    <h5 class="modal-info space-under" ng-click="p.showVersions=!p.showVersions"><i class="fa fa-lg" ng-class="{'fa-plus':!p.showVersions,'fa-minus':p.showVersions}"></i> {{::p.fullName}}</h5>
                    <div class="well" ng-show="p.showVersions">
                        <h4 class="space-under">Versions</h4>
                        <div ng-repeat="v in ::p.versions">
                            <div class="modal-info space-under" ng-click="v.showLanguages=!v.showLanguages"><i class="fa fa-lg" ng-class="{'fa-plus':!v.showLanguages,'fa-minus':v.showLanguages}"></i> {{::v.fullName}}</div>
                            <div class="well" ng-show="v.showLanguages">
                                <h4 class="space-under">Languages</h4>
                                <p class="modal-info" ng-repeat="l in ::v.languages">
                                    <input id="cb{{p.shortName+v.shortName+$index}}" class="checkbox" type="checkbox" ng-model="l.checked" ng-change="vm.update(p,v,l)">
                                    <label for="cb{{p.shortName+v.shortName+$index}}" class="checkbox-label">{{::l.langName}}</label>
                                </p>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>